@font-face {
	font-family: 'RobotoR';
	src: url('/src/assets/fonts/Roboto-Regular.woff2') format('woff2'),
		url('/src/assets/fonts/Roboto-Regular.woff') format('woff'),
		url('/src/assets/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}