
// colors
$white: #ffffff;
$black: #000000;

$neutral-black: #23262F;

$red400: #8D0202;
$red300: #C80000;
$red200: #E71313;
$red100: #FF9595;

$gray700: #51545B;
$gray600: #777E90;
$gray500: #B1B5C3;
$gray400: #CFD2DB;
$gray300: #E6E8EC;
$gray200: #F4F5F6;
$gray100: #FAFAFB;


$btn_disabled: #CFD2DB;
$secondary_btn_border_color: #E6E8EC;


// other
$btnRadius: 90px;

// fonts
$default-font: 'RobotoR', sans-serif;